
$bg-red: red;
$bg-dark-orange: rgb(103, 70, 9);

$bg-blue: rgb(53, 53, 231);

$bg-light-white: #f5f5f5;

$white: #fff;
$black: #000;
$gray: gray;


$main-bg: #f0f2f5;

$blue: hsl(214, 89%, 52%);
$primary-text: #050505;
$secondary-text: #65676B;
$body-text: #1c1e21;


