* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $medium-heading;
  font-weight: normal;
  font-family: $roboto, sans-serif;
}
a {
  text-decoration: none;
}
li,
ul {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}
